<?xml version="1.0"?>

<config>
    <modules>
        <Novapc_Allnations>
            <version>0.1.0</version>
        </Novapc_Allnations>
    </modules>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <novapc_allnations>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>confirmReserve</method>
                        <type>singleton</type>
                    </novapc_allnations>
                </observers>
            </sales_order_save_after>
            <sales_quote_item_qty_set_after>
                <observers>
                    <novapc_allnations>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>stockUpdate</method>
                        <type>singleton</type>
                    </novapc_allnations>
                </observers>
            </sales_quote_item_qty_set_after>
            <admin_system_config_section_save_after>
                <observers>
                    <novapc_allnations>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>setAttributes</method>
                        <type>singleton</type>
                    </novapc_allnations>
                </observers>
            </admin_system_config_section_save_after>
            <adminhtml_block_html_before>
                <observers>
                    <novapc_allnations>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>updatePromotions</method>
                        <type>singleton</type>
                    </novapc_allnations>
                </observers>
            </adminhtml_block_html_before>
            <adminhtml_block_html_before>
                <observers>
                    <novapc_allnations_order>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>updateOrderStatus</method>
                        <type>singleton</type>
                    </novapc_allnations_order>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_place_after>
                <observers>
                    <novapc_allnations>
                        <class>Novapc_Allnations_Model_Observer</class>
                        <method>checkOrder</method>
                        <type>singleton</type>
                    </novapc_allnations>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <novapc_allnations_setup>
                <setup>
                    <module>Novapc_Allnations</module>
                    <class>Novapc_Allnations_Model_Resource_Setup</class>
                </setup>
            </novapc_allnations_setup>
        </resources>
        <blocks>
            <novapc_allnations>
                <class>Novapc_Allnations_Block</class>
            </novapc_allnations>
        </blocks>
        <helpers>
            <novapc_allnations>
                <class>Novapc_Allnations_Helper</class>
            </novapc_allnations>
        </helpers>
        <models>
            <novapc_allnations>
                <class>Novapc_Allnations_Model</class>
                <resourceModel>novapc_allnations_resource</resourceModel>
            </novapc_allnations>
            <novapc_allnations_resource>
                <class>Novapc_Allnations_Model_Resource</class>
                <entities>
                    <order>
                        <table>npcallnations_orders</table>
                    </order>
                    <integration>
                        <table>npcallnations_integrations</table>
                    </integration>
                    <promotion>
                        <table>npcallnations_promotions</table>
                    </promotion>
                    <attr>
                        <table>npcallnations_attributes</table>
                    </attr>
                </entities>
            </novapc_allnations_resource>
        </models>
    </global>
    <default>
        <novapc_allnations>
            <general>
                <status>1</status>
            </general>
        </novapc_allnations>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <novapc_allnations>
                    <file>novapc_allnations.xml</file>
                </novapc_allnations>
            </updates>
        </layout>
        <translate>
            <modules>
                <Novapc_Allnations>
                    <files>
                        <default>Novapc_Allnations.csv</default>
                    </files>
                </Novapc_Allnations>
            </modules>
        </translate>
        <global_search>
            <promotion>
                <class>novapc_allnations/adminhtml_search_promotion</class>
                <acl>novapc_allnations</acl>
            </promotion>
        </global_search>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <allnations>
                                            <title>Allnations - All</title>
                                        </allnations>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Novapc_Allnations before="Mage_Adminhtml">Novapc_Allnations_Adminhtml</Novapc_Allnations>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <allnations_promot>
                <schedule>
                    <cron_expr>0 */4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>novapc_allnations/observer::deletePromotions</model>
                </run>
            </allnations_promot>
            <allnations_stockupdate>
                <schedule>
                    <cron_expr></cron_expr>
                </schedule>
                <run>
                    <model>novapc_allnations/observer::updateStock</model>
                </run>
            </allnations_stockupdate>
        </jobs>
    </crontab>
</config>
